/* Ceci est notre animation elle rend le background coloré et joli */
body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.section_anim_box {
  overflow: hidden;
}

.section_evenement {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 600px) {
  
  .section_evenement {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
}

.box {
  width: 100px;
  height: 100px;
  background: #000;
  animation: rotation 2s ease 0s infinite alternate none running;
}

@keyframes rotation {
  0% {
    transform: scale(.3);
  }

  50% {
    transform: scale(.6) rotate(-45deg);
    background: red;
  }

  100% {
    transform: scale(0.8) rotate(180deg);
    background: blue;
  }
}

.site-branding {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.site-description {
  margin: 0;
}

.site-content {
  @extend %displayFlexColumnCenter;

  .figure-post-thumbnail {
    width: 100vw;
    height: 50vh;

    overflow: hidden;

    margin: 0;

    .post-thumbnail {
      position: relative;
      top: -35vh;

      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  .categorie-nouvelles {
    /*@extend %displayFlexColumnCenter;*/
    width: 100%;
    height: auto;
    margin: 2% 0;
    
    .categorie-nouvelles-contenu {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      .articles-nouvelles {
        margin: 1%;
        width: 20vw;

        .image-article {
          width: 90%;
        }

        .title-article {
          width: 90%;
          text-align: center;
          a {
            color: $blue;
            text-transform: uppercase;
            font-size: 0.8em;

            @include transition(color 0.4s);

            &:hover {
              color: lighten($blue, 20%);
            }
          }
        }
      }
    }
  }
}
