/* Ceci est notre animation elle rend le background coloré et joli */
body {
  background-color: white;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.background_anim {
  height: 200px;
  width: 100%;
  margin-top: 50px;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  animation: gradient 15s ease infinite;
  background-size: 400% 400%;

  .section_anim_box {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .box {
      border-radius: 25px;
    }
  }
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


.section_anim_box {
  overflow: hidden;
}

.section_evenement {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.box {
  width: 100px;
  height: 100px;
  background: #000;
  animation: rotation 2s ease 0s infinite alternate none running;
}

@keyframes rotation {
  0% {
    transform: scale(.3);
  }

  50% {
    transform: scale(.6) rotate(-45deg);
    background: red;
  }

  100% {
    transform: scale(0.8) rotate(180deg);
    background: blue;
  }
}

.site-branding {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.site-description {
  margin: 0;
}

// Contenu du site
.site-content {
  @extend %displayFlexColumnCenter;
  margin-top: 40px;
  display: flex;

  .cropped {
    overflow: hidden;
    border: solid 2px black;
    background-size: cover;

    img {
      height: 200px;
    }
  }

  h1 {
    margin-top: 30px;
    font-family: $poppins-regular;
    font-weight: 700;
    text-decoration: underline;
  }

  .text-bienvenue {
    text-transform: uppercase;
    font-family: $poppins-regular;
    font-weight: 700;
    font-size: 2em;
    letter-spacing: 3px;
    margin-bottom: 15px;
    margin-top: 15px;
  }

  .section_evenement {
    padding: 0;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .articles-evenements {
      margin: 1%;
      width: 20vw;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      #ReadMoreBtn {
        margin-top: 25px;
      }
  }

  .title-article {
    width: 90%;
    text-align: center;
    a {
      font-size: 0.8em;

      @include transition(color 0.4s);

      &:hover {
        color: lighten($blue, 20%);
      }
    }
  }

  .figure-post-thumbnail {
    width: 100vw;
    height: 50vh;
    overflow: hidden;
    margin: 0;

    a {
      font-size: 0.8em;
    }

    .post-thumbnail {
      position: relative;
      top: -35vh;

      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}

.categorie-nouvelles {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;

  h1 {
    font-family: $poppins-regular;
    font-weight: 700;
    text-decoration: underline;
  }

  
  .categorie-nouvelles-contenu {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    .articles-nouvelles {
      
      margin: 1%;
      width: 40vw;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .image-article {
        width: 90%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      }

      .title-article {
        width: 90%;
        text-align: center;
        a {
          font-size: 0.8em;

          @include transition(color 0.4s);

          &:hover {
            color: lighten($blue, 20%);
          }
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  
  // Section des événements en mobile
  .site-content {
    display: flex;

    h1 {
      margin-top: 30px;
      font-family: $poppins-regular;
      font-weight: 700;
      font-size: 1.8rem;
    }

    .section_evenement {
      padding: 0;
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .articles-evenements {
          margin: 4%;
          width: 40vw;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
      }
    }
  }

  // Section des nouvelles en mobile
  .categorie-nouvelles {
    display: flex;

    h1 {
      margin-top: 30px;
      font-family: $poppins-regular;
      font-weight: 700;
      font-size: 1.8rem;
    }

    .categorie-nouvelles-contenu {
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

        .articles-nouvelles {
            margin: 4%;
            width: 40vw;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    } 
  }
}
